/* Globals */
:root {
    --font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-serif: Georgia, serif;
    --color-secondary: #333;
    --color-link: #635ac7;

    font-family: var(--font-sans);
    font-weight: normal;
    line-height: 1.5;
}

body {
    margin: 0;
}

a {
    color: var(--color-link);
}

/* Global Header */
.global-header {
    padding-bottom: 2rem;
    padding-top: 2rem;
    text-align: center;
}

/* Header Quote */
.header-quote {
    color: var(--color);
    font-family: var(--font-serif);
    margin-left: auto;
    margin-right: auto;
    max-width: 460px;
}

/* Global Footer */
.global-footer {
    color: var(--color);
    font-family: var(--font-serif);
    text-align: center;
}

#gallery {
    .image-container {
        display: block;
    }

    // Responsive Grid Layout
    line-height: 0;

    -webkit-column-count: 5;
    -webkit-column-gap:   0px;
    -moz-column-count:    5;
    -moz-column-gap:      0px;
    column-count:         5;
    column-gap:           0px;  

    @media (max-width: 1200px) {
        -moz-column-count:    4;
        -webkit-column-count: 4;
        column-count:         4;
    }

    @media (max-width: 1000px) {
        -moz-column-count:    3;
        -webkit-column-count: 3;
        column-count:         3;
    }

    @media (max-width: 800px) {
        -moz-column-count:    2;
        -webkit-column-count: 2;
        column-count:         2;
    }

    @media (max-width: 400px) {
        -moz-column-count:    1;
        -webkit-column-count: 1;
        column-count:         1;
    }

    img {
        height: auto !important;
        width: 100% !important;
    }
}
