/************************************
 Common
 ************************************/
body {
    margin: 0;
}

#main {
    margin-bottom: 50px;
}

section {
    .title {
        padding: 45px 20px;
        text-align: center;
    }
}
