/************************************
 Mixins
 ************************************/
@mixin center-content($max-width: 760px) {
    margin: 0 auto;
    max-width: $max-width;
    position: relative;
    padding: 0 20px;
}
