/************************************
 Variables
 ************************************/

// Colors
$white: #fff;
$black-primary: #333;
$black-secondary: #666;
$black-tertiary: #999;
$blue-primary: #09BCD3;
$blue-primary-hover: #9DE4ED;
$gray-primary: #fafafa;
$gray-secondary: #f5f5f5;


// Transitions
$transition: 0.3s linear all;

// Gradients
$linear-gradient: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.50) 100%);
